@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf") format("truetype");
    src: url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf") format("truetype");
    src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf") format("truetype");
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    max-width: 200px;
    padding: 20px;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav {
    border-bottom: 1px solid "EAEAEB";
    text-align: right;
    height: 70px;
    line-height: 70px;
}

.menu {
    margin: 0 30px 0 0;
}

.menu a {
    clear: right;
    text-decoration: none;
    color: #0A3641;
    background-color: #ffffff;
    margin: 0 10px;
    line-height: 70px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro Black';
    font-size: 20px;
    padding: 10px;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

.head-module {
    background-image: url(../images/headerphoto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-transform: uppercase;
    font-family: 'Source Sans Pro Black';
    color: #0A3641;
    padding: 230px;
    margin: 0px;
}

h1 {
font-size: 100px;
text-align: center;
color: #ffffff;
}

.shop-now .btn {
    background-color: #8C3723;
    color: #ffffff;
    font-family: "Source Sans Pro Black";
    text-transform: uppercase;
    padding: 20px 100px;
    font-size: 26px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.shop-now {
    display: block;
    text-align: center;
    margin-bottom: 50px;
}

/*Module Two*/

.module-two img {
    max-width: 100%;
    padding: 40px 0px 0px 40px;
    margin-top: 80px;
}

.module-two a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Source Sans Pro Black';
    font-size: 30px;
    color: #0A3641; 
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

button.btn-small {
    background-color: #8C3723;
    color: #ffffff;
    font-family: "Source Sans Pro Black";
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 40px;
    border: none;
    border-radius: 25px;
}

.women-module {
    float: left;
    text-align: center;
    margin-left: 100px;
}

.hikinggear-module {
    float: left;
    text-align: center;
}

.men-module {
    float: left;
    text-align: center;
}

h2 {
    text-align: center;
    font-family: "Source Sans Pro Black";
    color: #0A3641;
    font-size: 30px;
    margin: 50px 260px;
}

/*Module 3*/

.img-module3 {
    max-width: 100%;
    width: 50%;
}

section.module-3 {
    display: flex;
    margin-top: 100px;
}

h3 {
    text-align: center;
    font-family: "Source Sans Pro Black";
    color: #0A3641;
    font-size: 30px;
    margin: 160px 40px;
}

.gallery {
    margin-top: 100px;
}


/* Footer */

footer {
    background-color: #0A3641;
    color: white;
    font-family: "Source Sans Pro Black";
    display: flex;
    width: 100%;
    text-transform: uppercase;
}

footer a {
    color: white;
    font-family: "Source Sans Pro Regular";
    display: block;
    padding: 0px 10px;
}

footer a:hover {
    text-decoration: underline;
    }

.footer-1,
.footer-2,
.footer-3 {
    padding: 20px 80px;
    padding-bottom: 40px;
}

.footer-4 {
    padding: 10px 150px;
}

/* New Arrivals page*/
.head-module-newarrivals {
    background-image: url(../images/newarrivals.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-transform: uppercase;
    font-family: 'Source Sans Pro Black';
    color: #0A3641;
    padding: 230px;
    margin: 0px;
}


/* Mens outerwear page*/

.head-module-men {
    background-image: url(../images/Mens\ outerwear.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    text-transform: uppercase;
    font-family: 'Source Sans Pro Black';
    color: #0A3641;
    padding: 230px;
    margin: 0px;
}

/* Womens outerwear page*/

.head-module-women {
    background-image: url(../images/Womens\ outerwear.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    text-transform: uppercase;
    font-family: 'Source Sans Pro Black';
    color: #0A3641;
    padding: 230px;
    margin: 0px;
}

/* Hiking Gear page*/

.head-module-hikinggear {
    background-image: url(../images/hikinggear.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    text-transform: uppercase;
    font-family: 'Source Sans Pro Black';
    color: #0A3641;
    padding: 230px;
    margin: 0px;
}

/* About Us page*/

.head-module-aboutus {
    background-image: url(../images/AboutUs.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    text-transform: uppercase;
    font-family: 'Source Sans Pro Black';
    color: #0A3641;
    padding: 230px;
    margin: 0px;
}




@media only screen and (max-width: 1100px) {
    header {
        justify-content: space-between;
    }
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #ffffff;
        margin: 0;
    }
    #toggle:checked + .menu {
        display: block;
    }
    .head-module {
        padding: 100px;
    }
}

@media only screen and (max-width: 750px) {
    h1 {
        font-size: 25px;
    }
    .head-module {
        background-size: cover;
    }
    .shop-now .btn {
        padding: 10px 40px;
        font-size: 20px;
        border-radius: 25px;
    }
    section.module-two {
        display: grid;
    }
    .women-module {
        margin-left: 0px;
    }
    .module-two img {
        margin-top: 10px;
    }
    }

@media only screen and (max-width: 550px) {
    .logo {
        max-width: 100px;
    }
    .menu a {
        font-size: 10px;
        padding: 0px;
        border-bottom: 1px solid #ffffff;
    }
    h1 {
        font-size: 20px;
    }
    .shop-now .btn {
        padding: 5px 30px;
        font-size: 10px;
        border-radius: 25px;
    }
    button.btn-small {
        padding: 5px 30px;
        font-size: 10px;
        border-radius: 25px; 
    }
    section.module-two {
        display: grid;
    }
    .module-two img {
        margin-top: 40px;
        padding: 0px;
    }
    .module-two a {
        font-size: 15px;
    }
    .women-module {
        margin-left: 0px;
    }
}