@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf") format("truetype");
    src: url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf") format("truetype");
    src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf") format("truetype");
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    max-width: 200px;
    padding: 20px;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav {
    border-bottom: 1px solid "EAEAEB";
    text-align: right;
    height: 70px;
    line-height: 70px;
}

.menu {
    margin: 0 30px 0 0;
}

.menu a {
    clear: right;
    text-decoration: none;
    color: #0A3641;
    background-color: #ffffff;
    margin: 0 10px;
    line-height: 70px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro Black';
    font-size: 20px;
    padding: 10px;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

.head-module {
    background-image: url(../images/headerphoto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-transform: uppercase;
    font-family: 'Source Sans Pro Black';
    color: #0A3641;
    padding: 230px;
    margin: 0px;
}

h1 {
font-size: 100px;
text-align: center;
color: #ffffff;
}

.shop-now .btn {
    background-color: #8C3723;
    color: #ffffff;
    font-family: "Source Sans Pro Black";
    text-transform: uppercase;
    padding: 20px 100px;
    font-size: 26px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.shop-now {
    display: block;
    text-align: center;
    margin-bottom: 50px;
}

/*Module Two*/

.module-two img {
    max-width: 100%;
    padding: 20px;
    margin-top: 80px;
    display: flex;
}

.module-two a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Source Sans Pro Black';
    font-size: 30px;
    color: #0A3641; 
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

button.btn-small {
    background-color: #8C3723;
    color: #ffffff;
    font-family: "Source Sans Pro Black";
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 40px;
    border: none;
    border-radius: 25px;
}

.women-module {
    float: left;
    text-align: center;
    margin-left: 50px;
}

.hikinggear-module {
    float: left;
    text-align: center;
}

.men-module {
    float: left;
    text-align: center;
}

@media only screen and (max-width: 1100px) {
    header {
        justify-content: space-between;
    }
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #ffffff;
        margin: 0;
    }
    #toggle:checked + .menu {
        display: block;
    }
    .head-module {
        padding: 100px;
    }
}

@media only screen and (max-width: 750px) {
    h1 {
        font-size: 25px;
    }
    .shop-now .btn {
        padding: 10px 40px;
        font-size: 20px;
        border-radius: 25px;
    }
    }

@media only screen and (max-width: 550px) {
    .logo {
        max-width: 100px;
    }
    .menu a {
        font-size: 10px;
        padding: 0px;
        border-bottom: 1px solid #ffffff;
    }
    h1 {
        font-size: 20px;
    }
    .shop-now .btn {
        padding: 5px 30px;
        font-size: 10px;
        border-radius: 25px;
    }
}